* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
body[data-theme='light'] {
  --color-background: #ffffff;
  --color-primary-6: #625df5;
  --color-primary-2: #a259fe;
  --color-primary-3: #ff7162;
  --color-primary-4: #0dcf82;
  --color-secondary-3: #ffd166;
  --color-neutral-10: #ffffff;
  --color-neutral-9: #f4f5f6;
  --color-neutral-8: #e6e8ec;
  --color-neutral-6: #b1b5c3;
  --color-neutral-4: #777e90;
  --color-neutral-3: #353945;
  --color-neutral-2: #23262f;
  --color-neutral-1: #141416;
}

body[data-theme='dark'] {
  --color-background: #000000;
  --color-primary-6: #625df5;
  --color-primary-3: #ff7162;
  --color-primary-4: #0dcf82;
  --color-secondary-3: #ffd166;
  --color-neutral-10: #ffffff;
  --color-neutral-9: #f4f5f6;
  --color-neutral-8: #e6e8ec;
  --color-neutral-6: #b1b5c3;
  --color-neutral-4: #777e90;
  --color-neutral-3: #353945;
  --color-neutral-2: #23262f;
  --color-neutral-1: #141416;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
}

h1 {
  color: var(--color-text-secondary);
}

textarea::placeholder {
  color: var(--color-neutral-6); /* Set your desired color here */
}
