.customSelectContainer {
  width: 200px;
  background-color: purple;
}

.selectedText {
  width: 100%;
  background-color: yellow;
}

.selectedTextActive {
  background-color: green;
}

.selectOptions {
  list-style-type: none;
  width: 200px;
  background-color: red;
}

.customSelectOption {
}

.customSelectOption:hover {
}
